<launch>
   <!-- Move Base -->
   <node name="move_base" pkg="move_base" type="move_base" respawn="false" output="screen">
      <remap from="scan" to="scan_multi"/>
      <remap from="odom" to="my_robot/odom"/>
      <remap from="cmd_vel" to="my_robot/cmd_vel"/>
      <param name="base_global_planner" value="navfn/NavfnROS" />
      <param name="base_local_planner" value="dwa_local_planner/DWAPlannerROS"/>
      <rosparam file="$(find home_service_robot)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
      <rosparam file="$(find home_service_robot)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
      <rosparam file="$(find home_service_robot)/config/local_costmap_params.yaml" command="load" />
      <rosparam file="$(find home_service_robot)/config/global_costmap_params.yaml" command="load" />
      <rosparam file="$(find home_service_robot)/config/dwa_planner.yaml" command="load" />
   </node>
</launch>
